<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1, minimum-scale=1"
    />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="AppEnv" content="%MODE%" />
    <title>Vite App</title>
    <link rel="shortcut icon" href="//static.tcy365.com/uc/common/images/favicon.ico" />
    <script>
        !(function (e, t) {
          var n = t.documentElement,
            d = e.devicePixelRatio || 1;
  
          function i() {
            var w =
              n.clientWidth > n.clientHeight ? n.clientHeight : n.clientWidth;
            var CW = w < 320 ? 320 : w;
            var e = CW / 7.5;
            n.style.fontSize = e + 'px';
          }
          if (
            ((function e() {
              t.body
                ? (t.body.style.fontSize = '16px')
                : t.addEventListener('DOMContentLoaded', e);
            })(),
            i(),
            e.addEventListener('pageshow', function (e) {
              e.persisted && i();
            }),
            d >= 2)
          ) {
            var o = t.createElement('body'),
              a = t.createElement('div');
            (a.style.border = '.5px solid transparent'),
              o.appendChild(a),
              n.appendChild(o),
              1 === a.offsetHeight && n.classList.add('hairlines'),
              n.removeChild(o);
          }
        })(window, document);
      </script>
  </head>
  <body>
    <div id="app"></div>

    <script type="module" src="./main.ts"></script>
  </body>
</html>
